<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.umbrella.jnovel.system.role.mapper.RoleMapper">
    <select id="queryRoleList" resultType="com.umbrella.jnovel.system.role.model.Role">
        select id, name, description, flag from role
    </select>

</mapper>